body{
background-color:rgb(255, 255, 255);
}

 h1{
color:black ;
font-family: Georgia, 'Times New Roman', Times, serif ;
background: rgb(184, 179, 179);
text-align: center;
}

p{
color:black ;
font-family: georgia;
font-size: 25px;
background: ;
text-align: center;
}
