body{
background-color: rgb(247, 144, 247);
}

 h1{
color:black ;
font-family: Georgia, 'Times New Roman', Times, serif ;
background: lightsteelblue;
}

p{
color:black ;
font-family: georgia;
font-size: 25px;
background: ;
}
